table.ownTable tbody tr td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align:middle;
    min-height: 100px;
}
table.ownTable thead th {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    min-width: 100px;
}
body {
    background-color: #c7d3b4;
}
section, ul {
/* background-color: blueviolet; */
    background: #fff5d2;
}

table.ownTable tbody tr { 
    margin-top: 15px;
    margin-bottom: 5px;
}


div {
    background-color: transparent;
    /* aqua; */
}

section#ext-menu {
    background-color: #768376;
    color: black;
    position: fixed;
}

/* nav.navbarown {
    
    color: rgb(118,131,118) 
} */

nav div.mbr-table {
    background-color:  rgb(118,131,118);
}

p, li, a {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}